# Week 1 handin

## 01 Assignment
https://github.com/Hartmannsolution/docker_notebooks/blob/master/notebooks/01-Exercise.ipynb

## 02 Status
Part 1 and 2 done. Part 3 not done completly

## 03 Solution part 1

In [46]:
# A
# Iterate a list of names to return a list of the names starting with H

names = list(["Hans","JÃ¸rgen","Lars","Per","Hanne", "Alex"])
names
new_names = [x for x in names if x.startswith("H")] 
new_names

['Hans', 'Hanne']

In [52]:
# B
# In one line create a list of the numbers 1-100 to the power of 3
import numpy as np
np.power(list(range(1,100)),3)

array([     1,      8,     27,     64,    125,    216,    343,    512,
          729,   1000,   1331,   1728,   2197,   2744,   3375,   4096,
         4913,   5832,   6859,   8000,   9261,  10648,  12167,  13824,
        15625,  17576,  19683,  21952,  24389,  27000,  29791,  32768,
        35937,  39304,  42875,  46656,  50653,  54872,  59319,  64000,
        68921,  74088,  79507,  85184,  91125,  97336, 103823, 110592,
       117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616,
       185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144,
       274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248,
       389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000,
       531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472,
       704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736,
       912673, 941192, 970299])

In [51]:
# C
# Iterate a list of names to create a list of tuples,
# where the tuples first value is the length of the name and the second is the name

names = list(["Josef", "Thor", "Frederik"])
names_tuple = tuple([(len(name), name) for name in names])
names_tuple

((5, 'Josef'), (4, 'Thor'), (8, 'Frederik'))

In [49]:
# D
# Iterate over each character in a string and get only those that are nummeric

string_example = "23 katte gik 12 ture"
[int(s) for s in string_example.split() if s.isdigit()]

[23, 12]

In [50]:
# E
# Using only a list comprehension wrapped in set() 
# get all possible combination from throwing 2 dice 
# (hint use 2 for loops in a single list comprehension)

roll_combinations = set([(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)])
roll_combinations

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

## 04 Solution part 2

In [55]:
# A 
# Iterate a list of names and create a dictionary where key is the name and value is the length of the name


names = list(["Josef", "Thor", "Frederik"])
names_dict = dict([(len(name), name) for name in names])
names_dict

{5: 'Josef', 4: 'Thor', 8: 'Frederik'}

In [64]:
# B
# Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}
import math
some_numbers = list([25,20,666])
numbers_dict = dict([(numbers, math.sqrt(numbers)) for numbers in some_numbers])
numbers_dict

{25: 5.0, 20: 4.47213595499958, 666: 25.80697580112788}

# 04 Solution part 3 (extra assignement)

In [ ]:
# TODO 
# Progammatically using loops create a small program to produce a dictionary with 
# all the 2 dice throw combinations as keys 
# and their likelyhood in percent as values

In [71]:
roll_combinations = tuple([(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)])
roll_comboWithPercentage = dict([(r1) for r1 in roll_combinations])
roll_comboWithPercentage

{1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6}